<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.insecure.insecuretarget">

    <permission
        android:name="sg.insecure.target.data.provider.readPermission"
        android:protectionLevel="normal"/>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsecureTarget"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UnencryptedDatabaseActivity"
            android:exported="false" />

        <activity android:name=".EncryptedDatabaseActivity"
            android:exported="false" />

        <activity android:name=".RemoteServiceActivity"
            android:exported="false" />

        <provider
            android:name="sg.insecure.insecuretarget.database.DataProvider"
            android:authorities="sg.insecure.target.data.provider"
            android:exported="true"
            android:readPermission="sg.insecure.target.data.provider.readPermission"
            />
        <provider
            android:name="sg.insecure.insecuretarget.database.EncryptedDataProvider"
            android:authorities="sg.insecure.target.data.provider.encrypted"
            android:exported="true"
            android:readPermission="sg.insecure.target.data.provider.readPermission"
            />

        <service
            android:name=".services.RemoteService"
            android:exported="true"
            />


    </application>

</manifest>